<?xml version="1.0" encoding="UTF-8" ?>
<module>
  <name>defaultorderfilter</name>
  <displayName>Default Orders Date Filter</displayName>
  <version>1.0.5</version>
  <author>Mohammad Babaei</author>
  <description>Automatically applies a 7-day default date filter to the orders list.</description>
  <tab>administration</tab>
  <is_configurable>0</is_configurable>
  <need_instance>0</need_instance>
</module>
